body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ff5e14;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    text-align: center;
    font-size: 48px;
    background-color: #333;
    padding: 20px 0;
}

footer{
    margin-top: auto;
    padding: 30px 30px;
    background-color: #3d3c3c;
}
.copyright{
    display: flex;
    justify-content: space-between;
}
.copyright a{
    text-decoration: none;
    color:#ff5e14;
}